body,
.btn {
  font-size: 16px;
}

.content {
  min-height: auto;
}

.field {
  margin: 1.5em auto;
}

.forum-messages tr.new {
  font-weight: bold;
}

.navbar-nav > li .logout {
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 20px;
}

